<a href="https://colab.research.google.com/github/Chanzwastaken/indonesia-gdp/blob/main/data_engineer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Web Scraping

In [31]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/List_of_Indonesian_provinces_by_GDP#2022_data"
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find('table', {'class': 'wikitable'})
table_rows = table.find_all('tr')

headers = []
data = []

for i, row in enumerate(table_rows):
    cells = row.find_all(['th', 'td'])
    cells = [cell.text.strip() for cell in cells]

    if i == 0:
        headers = cells
    else:
        data.append(cells)

df = pd.DataFrame(data, columns=headers)

df

,Rank,Province,Region,GDP[8](in billion Rp),GDP Nominal,GDP PPP
0,(in billion $),(in billion $),None,None,None,None
1,-,Indonesia,South East Asia,"19,588,455","1,319.19","4,023.50"
2,-,Java Island,Indonesia,"10,813,999",728.27,"2,272.54"
3,-,Sumatra Island,Indonesia,"4,220,203",284.21,886.87
4,1,Jakarta,Java,"3,186,470",214.59,669.63
5,2,East Java,Java,"2,730,907",183.91,573.89
6,3,West Java,Java,"2,422,782",163.16,509.14
7,-,Kalimantan,Indonesia,"1,767,053",119.00,371.34
8,4,Central Java,Java,"1,560,899",105.12,328.02
9,-,Sulawesi Island,Indonesia,"1,168,122",81.64,245.72
10,5,Riau,Sumatra,"991,589",66.78,208.38
11,6,North Sumatra,Sumatra,"955,193",64.33,200.73
12,7,East Kalimantan,Kalimantan,"921,332",62.05,193.62
13,8,Banten,Java,"747,250",50.32,157.03
14,9,South Sulawesi,Sulawesi,"605,145",40.75,124.32
15,10,South Sumatra,Sumatra,"591,603",39.84,124.32
16,-,Lesser Sunda Islands,Indonesia,"520,895",35.08,109.46
17,11,Lampung,Sumatra,"414,131",27.89,87.03
18,-,Western New Guinea,Indonesia,"353,806",23.83,74.35
19,12,Central Sulawesi,Sulawesi,"323,617",21.79,68.01
20,13,Riau Islands,Sumatra,"308,843",20.80,64.90
21,14,West Sumatra,Sumatra,"285,379",19.22,59.97
22,15,Jambi,Sumatra,"276,316",18.61,58.07
23,16,Papua,Western New Guinea,"262,516",17.68,55.17
24,17,West Kalimantan,Kalimantan,"255,797",17.23,53.76
25,18,South Kalimantan,Kalimantan,"251,256",16.92,52.80
26,19,Bali,Lesser Sunda Islands,"245,233",16.52,51.54
27,20,Aceh,Sumatra,"211,750",14.26,44.50
28,21,Central Kalimantan,Kalimantan,"199,948",13.47,42.02
29,22,Special Region of Yogyakarta,Java,"165,690",11.16,34.82
30,23,Southeast Sulawesi,Sulawesi,"158,761",10.69,33.36
31,24,North Sulawesi,Sulawesi,"157,028",10.58,33.00
32,25,West Nusa Tenggara,Lesser Sunda Islands,"156,944",10.57,32.98
33,26,North Kalimantan,Kalimantan,"138,718",9.34,29.15
34,-,Maluku Islands,Indonesia,"124,596",8.39,26.18
35,27,East Nusa Tenggara,Lesser Sunda Islands,"118,718",8.00,24.95
36,28,Bangka Belitung Islands,Sumatra,"95,285",6.42,20.02
37,29,West Papua,Western New Guinea,"91,292",6.15,19.18
38,30,Bengkulu,Sumatra,"90,112",6.07,18.94
39,31,North Maluku,Maluku Islands,"70,903",4.77,14.90
40,32,West Sulawesi,Sulawesi,"54,071",3.64,11.36
41,33,Maluku,Maluku Islands,"53,692",3.62,11.28
42,34,Gorontalo,Sulawesi,"47,574",3.20,10.00

Data *Cleansing*

In [32]:
# Drop null values
df.dropna(inplace=True)

# Drop Country & Island name
df.query("Rank != '-'", inplace=True)

# Rename column name
df = df.rename(columns={'Rank':'rank',
                        'Province': 'province',
                        'Region':'region',
                        'GDP[8](in billion Rp)':'gdp_in_billion_rp',
                        'GDP Nominal':'gdp_in_billion_usd', 'GDP PPP':'gdp_ppp_in_billion_usd'})

In [33]:
df

,rank,province,region,gdp_in_billion_rp,gdp_in_billion_usd,gdp_ppp_in_billion_usd
4,1,Jakarta,Java,"3,186,470",214.59,669.63
5,2,East Java,Java,"2,730,907",183.91,573.89
6,3,West Java,Java,"2,422,782",163.16,509.14
8,4,Central Java,Java,"1,560,899",105.12,328.02
10,5,Riau,Sumatra,"991,589",66.78,208.38
11,6,North Sumatra,Sumatra,"955,193",64.33,200.73
12,7,East Kalimantan,Kalimantan,"921,332",62.05,193.62
13,8,Banten,Java,"747,250",50.32,157.03
14,9,South Sulawesi,Sulawesi,"605,145",40.75,124.32
15,10,South Sumatra,Sumatra,"591,603",39.84,124.32
17,11,Lampung,Sumatra,"414,131",27.89,87.03
19,12,Central Sulawesi,Sulawesi,"323,617",21.79,68.01
20,13,Riau Islands,Sumatra,"308,843",20.80,64.90
21,14,West Sumatra,Sumatra,"285,379",19.22,59.97
22,15,Jambi,Sumatra,"276,316",18.61,58.07
23,16,Papua,Western New Guinea,"262,516",17.68,55.17
24,17,West Kalimantan,Kalimantan,"255,797",17.23,53.76
25,18,South Kalimantan,Kalimantan,"251,256",16.92,52.80
26,19,Bali,Lesser Sunda Islands,"245,233",16.52,51.54
27,20,Aceh,Sumatra,"211,750",14.26,44.50
28,21,Central Kalimantan,Kalimantan,"199,948",13.47,42.02
29,22,Special Region of Yogyakarta,Java,"165,690",11.16,34.82
30,23,Southeast Sulawesi,Sulawesi,"158,761",10.69,33.36
31,24,North Sulawesi,Sulawesi,"157,028",10.58,33.00
32,25,West Nusa Tenggara,Lesser Sunda Islands,"156,944",10.57,32.98
33,26,North Kalimantan,Kalimantan,"138,718",9.34,29.15
35,27,East Nusa Tenggara,Lesser Sunda Islands,"118,718",8.00,24.95
36,28,Bangka Belitung Islands,Sumatra,"95,285",6.42,20.02
37,29,West Papua,Western New Guinea,"91,292",6.15,19.18
38,30,Bengkulu,Sumatra,"90,112",6.07,18.94
39,31,North Maluku,Maluku Islands,"70,903",4.77,14.90
40,32,West Sulawesi,Sulawesi,"54,071",3.64,11.36
41,33,Maluku,Maluku Islands,"53,692",3.62,11.28
42,34,Gorontalo,Sulawesi,"47,574",3.20,10.00

API

In [34]:
# Get all the unique values in the 'province' column
province_list = df['province'].unique()
province_list

array(['Jakarta', 'East Java', 'West Java', 'Central Java', 'Riau',
       'North Sumatra', 'East Kalimantan', 'Banten', 'South Sulawesi',
       'South Sumatra', 'Lampung', 'Central Sulawesi', 'Riau Islands',
       'West Sumatra', 'Jambi', 'Papua', 'West Kalimantan',
       'South Kalimantan', 'Bali', 'Aceh', 'Central Kalimantan',
       'Special Region of Yogyakarta', 'Southeast Sulawesi',
       'North Sulawesi', 'West Nusa Tenggara', 'North Kalimantan',
       'East Nusa Tenggara', 'Bangka Belitung Islands', 'West Papua',
       'Bengkulu', 'North Maluku', 'West Sulawesi', 'Maluku', 'Gorontalo'],
      dtype=object)

In [35]:
def get_coordinates(address):
    api_key = "d611b4ff5b4e42cf9b62e9ddce41b6dd"
    url = f"https://api.opencagedata.com/geocode/v1/json?q={address}&key={api_key}"

    response = requests.get(url)
    response.raise_for_status()

    # Extract the latitude and longitude from the response
    data = response.json()
    latitude = data['results'][0]['geometry']['lat']
    longitude = data['results'][0]['geometry']['lng']

    return latitude, longitude

# list of provinces
provinces = ['Jakarta', 'East Java', 'West Java', 'Central Java', 'Riau',
       'North Sumatra', 'East Kalimantan', 'Banten', 'South Sulawesi',
       'South Sumatra', 'Lampung', 'Central Sulawesi', 'Riau Islands',
       'West Sumatra', 'Jambi', 'Papua', 'West Kalimantan',
       'South Kalimantan', 'Bali', 'Aceh', 'Central Kalimantan',
       'Special Region of Yogyakarta', 'Southeast Sulawesi',
       'North Sulawesi', 'West Nusa Tenggara', 'North Kalimantan',
       'East Nusa Tenggara', 'Bangka Belitung Islands', 'West Papua',
       'Bengkulu', 'North Maluku', 'West Sulawesi', 'Maluku', 'Gorontalo']

df2 = pd.DataFrame(columns=['province', 'latitude', 'longitude'])

for province in provinces:
    try:
        latitude, longitude = get_coordinates(province)
        df2 = df2.append({'province': province, 'latitude': latitude,
                          'longitude': longitude}, ignore_index=True)
    except Exception as e:
        print(f"Failed to get coordinates for {province}: {e}")

<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
<ipython-input-35-d0b506e9d314>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'province': province, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)

In [36]:
df2

                        province  latitude   longitude
0                        Jakarta -6.175247  106.827049
1                      East Java -7.697740  112.491420
2                      West Java -6.889190  107.640472
3                   Central Java -7.303241  110.004414
4                           Riau  0.500411  101.547581
5                  North Sumatra  2.192352   99.381220
6                East Kalimantan  0.788440  116.241998
7                         Banten -6.445380  106.137559
8                 South Sulawesi -3.644672  119.947191
9                  South Sumatra -3.126684  104.093055
10                       Lampung -4.855504  105.027299
11              Central Sulawesi -1.693779  120.808856
12                  Riau Islands -0.154785  104.580375
13                  West Sumatra -0.582753  100.613338
14                         Jambi -1.639471  102.945426
15                         Papua -2.474915  138.084850
16               West Kalimantan -0.132239  111.096890
17              South Kalimantan -2.928569  115.370072
18                          Bali -8.330498  115.090640
19                          Aceh  4.368549   97.025302
20            Central Kalimantan -1.499583  113.290331
21  Special Region of Yogyakarta -7.977838  110.367226
22            Southeast Sulawesi -3.549120  121.727965
23                North Sulawesi  0.655569  124.090151
24            West Nusa Tenggara -8.789286  117.146169
25              North Kalimantan  3.023582  116.204931
26            East Nusa Tenggara -8.565679  120.697858
27       Bangka Belitung Islands -2.705289  106.358561
28                    West Papua -2.855356  133.473817
29                      Bengkulu -3.518676  102.535983
30                  North Maluku  0.630122  127.972022
31                 West Sulawesi -2.497455  119.391896
32                        Maluku -2.584226  127.478945
33                     Gorontalo  0.718617  122.455593

Data transformation

In [55]:
#combining both data
combined_df = pd.merge(df, df2, on='province')
combined_df

,rank,province,region,gdp_in_billion_rp,gdp_in_billion_usd,gdp_ppp_in_billion_usd,latitude,longitude
0,1,Jakarta,Java,"3,186,470",214.59,669.63,-6.175247,106.827049
1,2,East Java,Java,"2,730,907",183.91,573.89,-7.697740,112.491420
2,3,West Java,Java,"2,422,782",163.16,509.14,-6.889190,107.640472
3,4,Central Java,Java,"1,560,899",105.12,328.02,-7.303241,110.004414
4,5,Riau,Sumatra,"991,589",66.78,208.38,0.500411,101.547581
5,6,North Sumatra,Sumatra,"955,193",64.33,200.73,2.192352,99.381220
6,7,East Kalimantan,Kalimantan,"921,332",62.05,193.62,0.788440,116.241998
7,8,Banten,Java,"747,250",50.32,157.03,-6.445380,106.137559
8,9,South Sulawesi,Sulawesi,"605,145",40.75,124.32,-3.644672,119.947191
9,10,South Sumatra,Sumatra,"591,603",39.84,124.32,-3.126684,104.093055
10,11,Lampung,Sumatra,"414,131",27.89,87.03,-4.855504,105.027299
11,12,Central Sulawesi,Sulawesi,"323,617",21.79,68.01,-1.693779,120.808856
12,13,Riau Islands,Sumatra,"308,843",20.80,64.90,-0.154785,104.580375
13,14,West Sumatra,Sumatra,"285,379",19.22,59.97,-0.582753,100.613338
14,15,Jambi,Sumatra,"276,316",18.61,58.07,-1.639471,102.945426
15,16,Papua,Western New Guinea,"262,516",17.68,55.17,-2.474915,138.084850
16,17,West Kalimantan,Kalimantan,"255,797",17.23,53.76,-0.132239,111.096890
17,18,South Kalimantan,Kalimantan,"251,256",16.92,52.80,-2.928569,115.370072
18,19,Bali,Lesser Sunda Islands,"245,233",16.52,51.54,-8.330498,115.090640
19,20,Aceh,Sumatra,"211,750",14.26,44.50,4.368549,97.025302
20,21,Central Kalimantan,Kalimantan,"199,948",13.47,42.02,-1.499583,113.290331
21,22,Special Region of Yogyakarta,Java,"165,690",11.16,34.82,-7.977838,110.367226
22,23,Southeast Sulawesi,Sulawesi,"158,761",10.69,33.36,-3.549120,121.727965
23,24,North Sulawesi,Sulawesi,"157,028",10.58,33.00,0.655569,124.090151
24,25,West Nusa Tenggara,Lesser Sunda Islands,"156,944",10.57,32.98,-8.789286,117.146169
25,26,North Kalimantan,Kalimantan,"138,718",9.34,29.15,3.023582,116.204931
26,27,East Nusa Tenggara,Lesser Sunda Islands,"118,718",8.00,24.95,-8.565679,120.697858
27,28,Bangka Belitung Islands,Sumatra,"95,285",6.42,20.02,-2.705289,106.358561
28,29,West Papua,Western New Guinea,"91,292",6.15,19.18,-2.855356,133.473817
29,30,Bengkulu,Sumatra,"90,112",6.07,18.94,-3.518676,102.535983
30,31,North Maluku,Maluku Islands,"70,903",4.77,14.90,0.630122,127.972022
31,32,West Sulawesi,Sulawesi,"54,071",3.64,11.36,-2.497455,119.391896
32,33,Maluku,Maluku Islands,"53,692",3.62,11.28,-2.584226,127.478945
33,34,Gorontalo,Sulawesi,"47,574",3.20,10.00,0.718617,122.455593

In [56]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rank                    34 non-null     object
 1   province                34 non-null     object
 2   region                  34 non-null     object
 3   gdp_in_billion_rp       34 non-null     object
 4   gdp_in_billion_usd      34 non-null     object
 5   gdp_ppp_in_billion_usd  34 non-null     object
 6   latitude                34 non-null     float64
 7   longitude               34 non-null     float64
dtypes: float64(2), object(6)
memory usage: 2.4+ KB

In [58]:
#removing commas
combined_df['gdp_in_billion_rp'] = combined_df['gdp_in_billion_rp'].str.replace(',', '')

#change datatype
combined_df['rank']=combined_df['rank'].astype('int')
combined_df['gdp_in_billion_rp']=combined_df['gdp_in_billion_rp'].astype('int')
combined_df['gdp_in_billion_usd']=combined_df['gdp_in_billion_usd'].astype('float')
combined_df['gdp_ppp_in_billion_usd']=combined_df['gdp_ppp_in_billion_usd'].astype('float')

In [59]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rank                    34 non-null     int64
 1   province                34 non-null     object
 2   region                  34 non-null     object
 3   gdp_in_billion_rp       34 non-null     int64
 4   gdp_in_billion_usd      34 non-null     float64
 5   gdp_ppp_in_billion_usd  34 non-null     float64
 6   latitude                34 non-null     float64
 7   longitude               34 non-null     float64
dtypes: float64(4), int64(2), object(2)
memory usage: 2.4+ KB

In [61]:
#create lat_long column
combined_df['lat_long'] = combined_df[['latitude', 'longitude']].astype(str).apply(' '.join, axis=1)
combined_df

,rank,province,region,gdp_in_billion_rp,gdp_in_billion_usd,gdp_ppp_in_billion_usd,latitude,longitude,lat_long
0,1,Jakarta,Java,3186470,214.59,669.63,-6.175247,106.827049,-6.175247 106.8270488
1,2,East Java,Java,2730907,183.91,573.89,-7.697740,112.491420,-7.6977397 112.4914199
2,3,West Java,Java,2422782,163.16,509.14,-6.889190,107.640472,-6.8891904 107.6404716
3,4,Central Java,Java,1560899,105.12,328.02,-7.303241,110.004414,-7.3032412 110.0044145
4,5,Riau,Sumatra,991589,66.78,208.38,0.500411,101.547581,0.5004112 101.5475811
5,6,North Sumatra,Sumatra,955193,64.33,200.73,2.192352,99.381220,2.1923519 99.3812201
6,7,East Kalimantan,Kalimantan,921332,62.05,193.62,0.788440,116.241998,0.7884397 116.2419977
7,8,Banten,Java,747250,50.32,157.03,-6.445380,106.137559,-6.4453801 106.1375586
8,9,South Sulawesi,Sulawesi,605145,40.75,124.32,-3.644672,119.947191,-3.6446718 119.9471906
9,10,South Sumatra,Sumatra,591603,39.84,124.32,-3.126684,104.093055,-3.1266842 104.0930554
10,11,Lampung,Sumatra,414131,27.89,87.03,-4.855504,105.027299,-4.8555039 105.0272986
11,12,Central Sulawesi,Sulawesi,323617,21.79,68.01,-1.693779,120.808856,-1.6937786 120.8088555
12,13,Riau Islands,Sumatra,308843,20.80,64.90,-0.154785,104.580375,-0.1547846 104.5803745
13,14,West Sumatra,Sumatra,285379,19.22,59.97,-0.582753,100.613338,-0.5827529 100.6133379
14,15,Jambi,Sumatra,276316,18.61,58.07,-1.639471,102.945426,-1.6394711 102.9454264
15,16,Papua,Western New Guinea,262516,17.68,55.17,-2.474915,138.084850,-2.4749149 138.08485
16,17,West Kalimantan,Kalimantan,255797,17.23,53.76,-0.132239,111.096890,-0.1322387 111.0968901
17,18,South Kalimantan,Kalimantan,251256,16.92,52.80,-2.928569,115.370072,-2.9285686 115.3700718
18,19,Bali,Lesser Sunda Islands,245233,16.52,51.54,-8.330498,115.090640,-8.3304977 115.0906401
19,20,Aceh,Sumatra,211750,14.26,44.50,4.368549,97.025302,4.3685491 97.0253024
20,21,Central Kalimantan,Kalimantan,199948,13.47,42.02,-1.499583,113.290331,-1.499583 113.2903307
21,22,Special Region of Yogyakarta,Java,165690,11.16,34.82,-7.977838,110.367226,-7.9778384 110.3672257
22,23,Southeast Sulawesi,Sulawesi,158761,10.69,33.36,-3.549120,121.727965,-3.5491199 121.7279646
23,24,North Sulawesi,Sulawesi,157028,10.58,33.00,0.655569,124.090151,0.6555692 124.090151
24,25,West Nusa Tenggara,Lesser Sunda Islands,156944,10.57,32.98,-8.789286,117.146169,-8.7892855 117.146169
25,26,North Kalimantan,Kalimantan,138718,9.34,29.15,3.023582,116.204931,3.0235817 116.2049306
26,27,East Nusa Tenggara,Lesser Sunda Islands,118718,8.00,24.95,-8.565679,120.697858,-8.5656787 120.6978581
27,28,Bangka Belitung Islands,Sumatra,95285,6.42,20.02,-2.705289,106.358561,-2.7052886 106.3585607
28,29,West Papua,Western New Guinea,91292,6.15,19.18,-2.855356,133.473817,-2.8553556 133.4738171
29,30,Bengkulu,Sumatra,90112,6.07,18.94,-3.518676,102.535983,-3.5186763 102.5359834
30,31,North Maluku,Maluku Islands,70903,4.77,14.90,0.630122,127.972022,0.6301215 127.9720219
31,32,West Sulawesi,Sulawesi,54071,3.64,11.36,-2.497455,119.391896,-2.4974546 119.3918955
32,33,Maluku,Maluku Islands,53692,3.62,11.28,-2.584226,127.478945,-2.5842259 127.4789451
33,34,Gorontalo,Sulawesi,47574,3.20,10.00,0.718617,122.455593,0.7186174 122.4555927

In [62]:
combined_df.to_csv('indonesian_gdp.csv', index=False)